/* utility classes ========================================================================== */
.d-none {
  display: none;
}

/* layout styling ========================================================================== */

.wrapper {
  font-family: var(--sl-font-sans);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  background-color: var(--sl-color-neutral-1000);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  padding: var(--sl-spacing-small);
  color: var(--sl-color-neutral-0);
  font-weight: var(--sl-font-weight-bold);
}

.searchbar-container {
  min-width: 270px;
}

.searchbar-container .search-icon {
  margin-left: var(--sl-spacing-small);
}

.navcontrols-container {
  margin: var(--sl-spacing-small);
  color: var(--sl-color-neutral-0);
}

.map-image {
  position: relative !important; /* TODO: why is the position set to absolute to begin with? */
}

.slider::part(base) {
  --track-color-active: var(--sl-color-primary-600);
  --track-color-inactive: var(--sl-color-primary-200);
}

.content > div {
  border: 1px solid var(--sl-color-neutral-300);
  padding: var(--sl-spacing-x-small);
}

.controls-container {
  display: flex;
  justify-content: center;
  grid-area: controls;
  gap: var(--sl-spacing-2x-small);
}

.dtg-container {
  grid-area: dtg;
}

.dtg-container .dtg-buttons {
  display: flex;
  gap: var(--sl-spacing-2x-small);
  flex-wrap: wrap;
}

.dtg-container .play-pause-buttons {
  display: flex;
  gap: var(--sl-spacing-2x-small);
  flex-wrap: wrap;
  margin-top: var(--sl-spacing-small);
  justify-content: center;
}

.map-container {
  grid-area: map;
}

.slider-container {
  grid-area: slider;
}

.gif-container {
  grid-area: gif;
  display: flex;
  gap: var(--sl-spacing-2x-small);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.charts-container {
  grid-area: charts;
}

.content {
  display: grid;
  flex: 1;
  grid-template:
    "map" auto
    "controls" min-content
    "dtg" min-content
    "slider" min-content
    / 100%;
}

/* media queries ==========================================================================
  Note: the following aspect ratios must be the same as the ones used in layout's state
 */

/* mobile */
@media screen and (max-aspect-ratio: 0.75) {
  .charts-container {
    position: absolute;
    height: -webkit-fill-available;
    width: 100%;
    background-color: lightgrey;
  }
}

/* tablet */
@media screen and (min-aspect-ratio: 0.75) {
  .content {
    grid-template:
    /* all charts on 1 side: */
      /* "map charts" auto
      "controls charts" min-content
      "dtg charts" min-content
      "gif charts" auto
      "slider charts" min-content
      / 60% 40%; */

    /* charts below map: */
      /* "map controls" min-content
      "map gif" auto
      "charts dtg" min-content
      "charts dtg" auto
      "charts slider" min-content
      / 50% 50%; */

    /* charts next to map: */
      "map charts" auto
      "map charts" auto
      "map charts" auto
      "dtg controls" min-content
      "slider gif" min-content
      / 60% 40%;
  }
  .charts-container {
    display: block;
  }

  .controls-container {
    flex-direction: column;
  }
}

/* desktop */
@media screen and (min-aspect-ratio: 1.2) {
}
