:root {
  --navbar-height: 40px;
}

/* utility classes ========================================================================== */
.d-none {
  display: none;
}

.custom-divider {
  height: inherit;
  width: 1px;
  background-color: var(--sl-color-neutral-300);
}

/* layout styling ========================================================================== */

.wrapper {
  font-family: var(--sl-font-sans);
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* overflow: scroll; */
}

.navbar {
  background-color: var(--sl-color-neutral-1000);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--navbar-height);
}

.logo-container {
  padding: var(--sl-spacing-small);
  color: var(--sl-color-neutral-0);
  font-weight: var(--sl-font-weight-bold);
}

.searchbar-container {
  min-width: 270px;
}

.searchbar-container .search-icon {
  margin-left: var(--sl-spacing-small);
}

.navcontrols-container {
  margin: var(--sl-spacing-small);
  color: var(--sl-color-neutral-0);
  display: flex;
  align-items: center;
}

.gif-button {
  color: var(--sl-color-neutral-0);
  font-weight: 900;
  margin-right: var(--sl-spacing-small);
}

.map-image {
  position: relative !important; /* TODO: why is the position set to absolute to begin with? */
  object-fit: contain;
}

.slider::part(base) {
  --track-color-active: var(--sl-color-primary-600);
  --track-color-inactive: var(--sl-color-primary-200);
}

.controls-container {
  padding: var(--sl-spacing-2x-small);
  background-color: var(--sl-color-neutral-100);
  grid-area: controls;
  gap: var(--sl-spacing-2x-small);
  max-height: 75vh;
}

.controls-container .selected-params {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--sl-spacing-small);
}

.controls-container .selected-model {
  font-weight: var(--sl-font-weight-bold);
  color: var(--sl-color-primary-600);
}

.controls-container .runs {
  display: flex;
  justify-content: space-evenly;
  gap: var(--sl-spacing-3x-small);
}

.runs sl-button::part(base) {
  font-size: var(--sl-font-size-2x-small);
  height: var(--sl-spacing-large);
  width: var(--sl-spacing-x-large);
  line-height: var(--sl-line-height-normal);
  padding-inline: var(--sl-spacing-2x-small);
}

.dtg-container {
  grid-area: dtg;
  background-color: var(--sl-color-neutral-100);
  padding: var(--sl-spacing-small) var(--sl-spacing-2x-small);
}

.dtg-buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: var(--sl-spacing-2x-small);
}

.dtg-buttons-wrapper sl-button::part(base) {
  font-size: var(--sl-font-size-2x-small);
  height: var(--sl-spacing-large);
  width: var(--sl-spacing-2x-large);
  line-height: var(--sl-line-height-normal);
  padding-inline: var(--sl-spacing-2x-small);
}

.play-container {
  grid-area: play;
  background-color: var(--sl-color-neutral-100);
  padding: var(--sl-spacing-2x-small);
}

.play-buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--sl-color-neutral-0);
  border: 1px solid var(--sl-color-neutral-300);
  border-radius: var(--sl-border-radius-small);
  padding-block: var(--sl-spacing-2x-small);
}

.play-buttons-wrapper sl-button::part(base) {
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: var(--sl-color-primary-600);
  font-size: var(--sl-font-size-x-small);
  height: auto;
  line-height: var(--sl-line-height-normal);
}

.play-buttons-wrapper sl-button::part(label) {
  padding: 0 var(--sl-spacing-small);
}

.map-container {
  grid-area: map;
}

.slider-container {
  grid-area: slider;
  padding-inline: var(--sl-spacing-small);
  padding-bottom: var(--sl-spacing-2x-large);
  padding-top: var(--sl-spacing-2x-small);
}

.charts-container {
  grid-area: charts;
}

#charts-wrapper {
  height: 100%;
}

/* #tabs-wrapper {
} */

.content {
  height: calc(100vh - var(--navbar-height));
  display: grid;
  flex: 1;
  /* applies to mobile (portrait) */
  grid-template:
    "map" min-content
    "controls" auto
    "dtg" auto
    "play" auto
    "slider" auto
    / 100%;
}

/* media queries ==========================================================================
  Note: the following aspect ratios must be the same as the ones used in layout's state
 */

/* mobile (portrait) */
@media screen and (max-aspect-ratio: 0.75) {
  .charts-container {
    position: absolute;
    height: -webkit-fill-available;
    width: 100%;
    background-color: var(--sl-color-neutral-0);
  }
}

/* tablet (portrait) */
@media screen and (min-aspect-ratio: 0.75) {
  .content {
    grid-template:
      "map charts" auto
      "dtg charts" auto
      "play charts" min-content
      "controls charts" auto
      "slider charts" min-content
      / 60% 40%;
  }
  .charts-container {
    display: block;
  }

  /* .controls-container {
    flex-direction: column;
  } */
}

/* desktop and tablet (landscape) */
@media screen and (min-aspect-ratio: 1.2) {
  .content {
    grid-template:
      "controls map charts" auto
      "dtg map charts" min-content
      "play slider charts" min-content
      / 17% 55% 28%;
  }
}

/* wide screen and mobile (landscape) */
@media screen and (min-aspect-ratio: 1.9) {
  .content {
    grid-template:
      "controls map charts" min-content
      "controls map charts" auto
      "dtg map charts" min-content
      "play slider charts" min-content
      / 20% 50% 30%;
  }
}
