:root {
  --navbar-height: 40px;
}

/* utility classes ========================================================================== */
.d-none {
  display: none;
}

/* layout styling ========================================================================== */

.wrapper {
  font-family: var(--sl-font-sans);
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* overflow: scroll; */
}

.navbar {
  background-color: var(--sl-color-neutral-1000);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--navbar-height);
}

.logo-container {
  padding: var(--sl-spacing-small);
  color: var(--sl-color-neutral-0);
  font-weight: var(--sl-font-weight-bold);
}

.searchbar-container {
  min-width: 270px;
}

.searchbar-container .search-icon {
  margin-left: var(--sl-spacing-small);
}

.navcontrols-container {
  margin: var(--sl-spacing-small);
  color: var(--sl-color-neutral-0);
  display: flex;
  align-items: center;
}

.gif-button {
  color: white;
  font-weight: 900;
  margin-right: var(--sl-spacing-small);
}

.map-image {
  position: relative !important; /* TODO: why is the position set to absolute to begin with? */
  object-fit: contain;
}

.slider::part(base) {
  --track-color-active: var(--sl-color-primary-600);
  --track-color-inactive: var(--sl-color-primary-200);
}

.content > div {
  border: 1px solid var(--sl-color-neutral-300);
  /* padding: var(--sl-spacing-2x-small); */
}

.controls-container {
  display: flex;
  justify-content: center;
  grid-area: controls;
  gap: var(--sl-spacing-2x-small);
}

.dtg-container {
  grid-area: dtg;
}

.dtg-container .dtg-buttons {
  display: flex;
  gap: var(--sl-spacing-2x-small);
  flex-wrap: wrap;
}

.dtg-container .play-pause-buttons {
  display: flex;
  gap: var(--sl-spacing-2x-small);
  flex-wrap: wrap;
  margin-top: var(--sl-spacing-small);
  justify-content: center;
}

.map-container {
  grid-area: map;
}

.slider-container {
  grid-area: slider;
  padding: var(--sl-spacing-2x-small);
}

.charts-container {
  grid-area: charts;
}

#charts-wrapper {
  height: 100%;
}

.content {
  height: calc(100vh - var(--navbar-height));
  display: grid;
  flex: 1;
  grid-template:
    "map" min-content
    "controls" auto
    "dtg" auto
    "slider" min-content
    / 100%;
}

/* media queries ==========================================================================
  Note: the following aspect ratios must be the same as the ones used in layout's state
 */

/* mobile (portrait) */
@media screen and (max-aspect-ratio: 0.75) {
  .charts-container {
    position: absolute;
    height: -webkit-fill-available;
    width: 100%;
    background-color: lightgrey;
  }
}

/* tablet (portrait) */
@media screen and (min-aspect-ratio: 0.75) {
  .content {
    grid-template:
      "map charts" auto
      "dtg charts" auto
      "controls charts" auto
      "slider charts" min-content
      / 65% 35%;
  }
  .charts-container {
    display: block;
  }

  .controls-container {
    flex-direction: column;
  }
}

/* desktop and tablet (landscape) */
@media screen and (min-aspect-ratio: 1.2) {
  .content {
    grid-template:
      "controls map charts" auto
      "controls map charts" auto
      "dtg map charts" min-content
      "dtg slider charts" min-content
      / 17% 60% 23%;
  }
}

/* wide screen and mobile (landscape) */
@media screen and (min-aspect-ratio: 1.9) {
  .content {
    grid-template:
      "controls map charts" min-content
      "controls map charts" auto
      "dtg map charts" min-content
      "dtg slider charts" min-content
      / 25% 50% 25%;
  }
}
